@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Blogposts {
    width: 100%;
    padding: 25px;
    font-family: 'Montserrat';
    background: #FFFFFF;
    border-radius: 12px;
}

.blogpost-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
}